<!DOCTYPE html>
<html>
  <head>
    <title>Validate\Sanitize example</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Validate\Sanitize example</h1>
    <form method="POST">
    Send your email input away
    <input name="email" id="email" type="email" placeholder="your@email.com" />
    <label for="sanitize">Sanitize</label>
    <input type="radio" id="sanitize" name="method" value="sanitize" />
    <label for="validate">Validate</label>
    <input type="radio" id="validate" name="method" value="validate" checked />
    <button type="submit">Send the input</button>
    </form>
    
  </body>
</html>
