<!DOCTYPE html>
<html>
  <head>
    <title>Hacking</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/reveal/css/reveal.css" />
    <link rel="stylesheet" href="/reveal/css/theme/night.css" />
    
  </head>
  <body>
    <div class="reveal">
			<div class="slides">
				<section data-markdown>
          <textarea data-template>
            ## Basic Hacking
            ## Ran Bar-Zik
            #### Developer @ Verizon Media Group
              - Twitter: @barzik
              - Telegram: interil
              - web: internet-israel.com
              - Github: barzik
          </textarea>
				</section>
				<section>
  				<section data-markdown>
            <textarea data-template>
              ## What is hacking
              ![alt text](/images/hacking/hacking.gif)
            </textarea>
  				</section>
  				<section data-markdown>
            <textarea data-template>
              ### Modify The system (any system)
              ![alt text](/images/hacking/modify-info.gif)
            </textarea>
  				</section>
  				<section data-markdown>
            <textarea data-template>
              ### Modify The system (Not legal)
              ![alt text](/images/hacking/hacking-mimick.gif)
            </textarea>
  				</section>
  				<section data-markdown>
            <textarea data-template>
              ### Getting info
              ![alt text](/images/hacking/hacking_db.gif)
            </textarea>
  				</section>
  				<section data-markdown>
            <textarea data-template>
              ### Do what they shouldn't do
              ![alt text](/images/hacking/modify-info.gif)
            </textarea>
  				</section>
  				<section data-markdown>
            <textarea data-template>
              ### Give them false info
              ![alt text](/images/hacking/hacker.gif)
            </textarea>
  				</section>
				</section>
				<section>
				  <section data-markdown>
            <textarea data-template>
              ## Hackers Types
              ![alt text](/images/hacking/hackers.gif)
            </textarea>
    			</section>
    			<section data-markdown>
            <textarea data-template>
              ### Black hats
              ![alt text](/images/hacking/blackhat.gif)
            </textarea>
    			</section>
    			<section data-markdown>
            <textarea data-template>
              ### White hats
              ![alt text](/images/hacking/whitehat.gif)
            </textarea>
    			</section>
				</section>
				<section>
				  <section data-markdown>
            <textarea data-template>
              ## Attacks type
              ![alt text](/images/hacking/destruction.gif)
            </textarea>
    			</section>
    			<section data-markdown>
            <textarea data-template>
              ## Site attack
              ![alt text](/images/hacking/hacking-attacks.gif)
            </textarea>
    			</section>
    			<section data-markdown>
            <textarea data-template>
              ## Humans attack
              ![alt text](/images/hacking/attack2.gif)
            </textarea>
    			</section>
				</section>
				<section>
				  <section data-markdown>
            <textarea data-template>
              ## Phishing attack
              ![alt text](/images/hacking/phishing.png)
            </textarea>
    			</section>
    			<section data-markdown>
            <textarea data-template>
              ## DDOS
              ![alt text](/images/hacking/ddos.png)
            </textarea>
    			</section>
				</section>
			  <section data-markdown>
          <textarea data-template>
            ## ClickJacking
            ### Stealing user action and session
            Simple [page](/examples/clickjackingd) that we will attack
            The [attack](/examples/clickjacking)
          </textarea>
  			</section>
				<section data-markdown>
          <textarea data-template>
            ## Thank you!
            ### I was Ran Bar-Zik from Verizon :)
            ### The presentaion is on Github: barzik.
            ### Talk to me: @barzik or LinkedIn.
            #### internet-israel.com
            ###### Hosted on Cloud9\Amazon and used reveal.js 
          </textarea>
    		</section>		
			</div>
		</div>
  </body>
  <script src="/reveal/js/reveal.js"></script>
  <script src="/reveal/plugin/markdown/marked.js"></script>
  <script src="/reveal/plugin/markdown/markdown.js"></script>
  
  <script>
			Reveal.initialize();
	</script>
</html>

