<!DOCTYPE html>
<html>
  <head>
    <title>Front end security</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/reveal/css/reveal.css" />
    <link rel="stylesheet" href="/reveal/css/theme/night.css" />
    
  </head>
  <body>
    <div class="reveal">
			<div class="slides">
				<section data-markdown>
          <textarea data-template>
            ## How to track
            ## Ran Bar-Zik
            #### Developer @ Verizon media (former Oath, Yahoo, AOL)
              - Twitter: @barzik
              - Telegram: interil
              - web: internet-israel.com
              - Github: barzik
          </textarea>
				</section>
				<section>
    			<section data-markdown>
            <textarea data-template>
              # Legal information
              ## Remember, remember the GDPR
            </textarea>
    			</section>
    			<section data-markdown>
            <textarea data-template>
              # Why do we learn it?
              ## We are evil
              ## We want to protect ourselves and others
              ## We want cheap prices
            </textarea>
    			</section>
        </section>
        <section data-markdown>
          <textarea data-template>
            ## Setting the stage
            We track on website only, assuming that domain is under my control.
          </textarea>
    		</section>
    		<section>
      		<section data-markdown>
            <textarea data-template>
              ## Track method 1: Cookies
              LAAAAMMMMEEEEE
            </textarea>
      		</section>
      		<section data-markdown>
            <textarea data-template>
              1. Sent in every request.
              1. Persistent.
              1. Easy to detect :( 
              1. Easy to delete :(
              Demo for [cookie)s](/examples/cookies
            </textarea>
      		</section>
      		<section data-markdown>
            <textarea data-template>
              ## Track method 3: forever cookie!
              https://github.com/truongsinh/node-evercookie
              [Demo](https://lucb1e.com/rp/cookielesscookies/)
            </textarea>
      		</section>
      	</section>
      	<section>
      	 <section data-markdown>
            <textarea data-template>
              ## Track method 2: Cookie less cookies
              No cookies, no cry
            </textarea>
      		</section>
      		<section data-markdown>
            <textarea data-template>
              ## Etag cookie
              Etag is caching mechanism, it can be exploited :)
              [Demo](/privacy/etag)
            </textarea>
      		</section>

      		<section data-markdown>
            <textarea data-template>
              # HSTS Cookies!
              // TODO: explain about HSTS
              [Demo](http://hsts.nevkontakte.com)
              [Explanation](https://github.com/ben174/hsts-cookie)
            </textarea>
      		</section>
      		<section data-markdown>
            <textarea data-template>
              ## DNS cookies
              // TODO: explain about DNS cookies
              [Demo](http://dnscookie.com/)
            </textarea>
      		</section>
        </section>
        <section data-markdown>
          <textarea data-template>
            ## Track method 3: Fingerprinting
          </textarea>
    		</section>
    		<section data-markdown>
          <textarea data-template>
            ## Track method 4: IP
            LAAAAMMMMEEEEE
            can be bypassed with VPN
          </textarea>
    		</section>
    		<section data-markdown>
          <textarea data-template>
            ## Track method 5: WEBRTC
            // TODO: demo and explain
          </textarea>
    		</section>
    		<section data-markdown>
          <textarea data-template>
            ## Track method 6: Password management system
            // TODO: demo and explain
            https://www.theverge.com/2017/12/30/16829804/browser-password-manager-adthink-princeton-research
          </textarea>
    		</section>

    		
				<section data-markdown>
          <textarea data-template>
            ## Thank you!
            ### I was Ran Bar-Zik from Verizon :)
            ### The presentaion is on Github: barzik.
            ### Talk to me: @barzik or LinkedIn.
            #### internet-israel.com
            ###### Hosted on Cloud9\Amazon and used reveal.js 
          </textarea>
    		</section>		
			</div>
		</div>
  </body>
  <script src="/reveal/js/reveal.js"></script>
  <script src="/reveal/plugin/markdown/marked.js"></script>
  <script src="/reveal/plugin/markdown/markdown.js"></script>
  
  <script>
			Reveal.initialize();
	</script>
</html>

