<!DOCTYPE html>
<html>
  <head>
    <title>Front end security</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/reveal/css/reveal.css" />
    <link rel="stylesheet" href="/reveal/css/theme/night.css" />
    
  </head>
  <body>
    <div class="reveal">
			<div class="slides">
				<section data-markdown>
          <textarea data-template>
            ## Web security
            ## Ran Bar-Zik
            #### Developer @ Oath Israel (Yahoo + AOL = unpronounceable)
              - Twitter: @barzik
              - Telegram: interil
              - web: internet-israel.com
              - Github: barzik
          </textarea>
				</section>
				<section>
    			<section data-markdown>
            <textarea data-template>
              # Legal information
              ## DO NOT HACK
            </textarea>
    			</section>
    			<section data-markdown>
            <textarea data-template>
              ### Winds of changing
              #### BUT STILL DO NOT HACK
              ![alt text](/images/news/globes-09-2018.png "Globes 2018 Sep")
            </textarea>
    			</section>
        </section>
				<section data-markdown>
          <textarea data-template>
            ## Thank you!
            ### I was Ran Bar-Zik from OATH :)
            ### The presentaion is on Github: barzik.
            ### Talk to me: @barzik or LinkedIn.
            #### internet-israel.com
            ###### Hosted on Cloud9\Amazon and used reveal.js 
          </textarea>
    		</section>		
			</div>
		</div>
  </body>
  <script src="/reveal/js/reveal.js"></script>
  <script src="/reveal/plugin/markdown/marked.js"></script>
  <script src="/reveal/plugin/markdown/markdown.js"></script>
  
  <script>
			Reveal.initialize();
	</script>
</html>

