<!DOCTYPE html>
<html>
  <head>
    <title>Front end security</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/reveal/css/reveal.css" />
    <link rel="stylesheet" href="/reveal/css/theme/night.css" />
    
  </head>
  <body>
    <div class="reveal">
			<div class="slides">
				<section data-markdown>
          <textarea data-template>
            ## Front end security
            ## Ran Bar-Zik
            #### Developer @ Verizon media & Journalist @ Haaretz
              - Twitter: @barzik
              - Telegram: interil
              - web: internet-israel.com
              - Github: barzik
          </textarea>
				</section>
				<section data-markdown>
          <textarea data-template>
            ## Noam Rotem
            #### Hacker, hacktivist
              - Twitter: @cybermycyber
          </textarea>
				</section>
				<section>
    			<section data-markdown>
            <textarea data-template>
              # Legal information
              ## DO NOT HACK
            </textarea>
    			</section>
    			<section data-markdown>
            <textarea data-template>
              # Why do we learn it?
              #### Learn to break === Learn to protect
            </textarea>
    			</section>
        </section>
        <section>
          <section data-markdown>
            <textarea data-template>
              ### Infosec is not server-side only
            </textarea>
    			</section>
    			<section data-markdown>
            <textarea data-template>
              ### Attackers use client-side attacks to manipulate users
            </textarea>
    			</section>
        </section>
  		  <section>
          <section data-markdown>
            <textarea data-template>
              # XSS
              ## The holy grail of client side security
            </textarea>
    		  </section>
    		  <section data-markdown>
            <textarea data-template>
              ### Attacker target: run JS script inside application
            </textarea>
    		  </section>
    		  <section data-markdown>
            <textarea data-template>
              ### Why it matters?
              #### Attacker create havoc with JS
            </textarea>
    		  </section>
    		  <section data-markdown>
            <textarea data-template>
              ### XSS 101 - how it looks like
              #### Just to put us in the same level
            </textarea>
    		  </section>
    		  <section>
            <h2>Reflective XSS with innerHTML - still alive and kicking</h2>
            <p><a href="/examples/xss?name=moshe">XSS by JS code</a>, now with <a href='/examples/xss?name=";alert(1);"'>real life demo</a></p>
  				</section>
  				<section>
            <h2>Reflective XSS with in a not very naive</h2>
            <p><a href="/examples/reflected-xss-inner">XSS by JS code</a>, now with <a href='/examples/reflected-xss-inner?src=not-there-img"%20onerror="alert(1)"'>real life demo</a></p>
  				</section>
  				<section>
            <h2>HTML5 Reflective XSS</h2>
              <h3>A new interesting vector</h3>
              <p><a href="/examples/xss?videosrc=https://www.w3schools.com/tags/movie.ogg">XSS by HTML5 code</a>, now with <a href='/examples/xss/?videosrc=" onerror="alert(1)"'>JS</a></p>
              <p>More at <a href="https://html5sec.org/">html5sec</a></p>
  				</section>
  				<section data-markdown>
            <textarea data-template>
              ## Stored XSS
              ![alt text](/images/tweetdeck-xss.png "Stored XSS example")
            </textarea>
    		  </section>
  				<section>
            <h2>In react as well</h2>
            <p><a href="/examples/reflected-xss-react">You can have it also in react</a></p>
  				</section>
  				<section>
            <h2>XSS Prevention</h2>
              <h3>Use innerText</h3>
              <h3>Do not trust clientside input </h3>
              <h3>Sanitization from the server side</h3>
  				</section>
        </section>
        <section>
          <section data-markdown>
            <textarea data-template>
              ## Prototype pollution
              ### New way to XSS
            </textarea>
    		  </section>
    		  <section>
            <h2>Remember lodash and jQuery?</h2>
            <p><a href="/examples/prototype-pollution">Demo</a></p>
    		  </section>
        </section>
        <section>
          <section data-markdown>
            <textarea data-template>
              ## Session stealing
              ### Is it still valid? 
              #### yes, it is
            </textarea>
    		  </section>
          <section data-markdown>
            <textarea data-template>
              ## Cookies 101
              ### Just to keep us in the same level
            </textarea>
    		  </section>
    		  <section data-markdown>
            <textarea data-template>
              ### We are using cookies for session storage
              #### But we need to prevent XSS session stealing
              ##### [Demo](/examples/cookies)
            </textarea>
    		  </section>
        </section>
        <section>
  				<section data-markdown>
            <textarea data-template>
              ## CSRF
              ### Cross Site Request Forgery
              Simple [page](/examples/csrf)
              Simple [attack](/examples/csrf-attack) on the page
            </textarea>
    			</section>
  			    <section data-markdown>
              <textarea data-template>
                ## CSRF Defense
                Simple [page](/examples/csrf-defended) defended
                
                Simple [attack](/examples/csrf-attack-on-defended-form) on the defended page
              </textarea>
    			  </section>
  				</section>
  				<section data-markdown>
            <textarea data-template>
              ## Thank you!
              ### I was Ran Bar-Zik from OATH :)
              ### The presentaion is on Github: barzik.
              ### Talk to me: @barzik or LinkedIn.
              #### internet-israel.com
              ###### Hosted on Cloud9\Amazon and used reveal.js 
            </textarea>
      		</section>		
			</div>
		</div>
  </body>
  <script src="/reveal/js/reveal.js"></script>
  <script src="/reveal/plugin/markdown/marked.js"></script>
  <script src="/reveal/plugin/markdown/markdown.js"></script>
  
  <script>
			Reveal.initialize();
	</script>
</html>

