<!DOCTYPE html>
<html>
  <head>
    <title>Front end security</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/reveal/css/reveal.css" />
    <link rel="stylesheet" href="/reveal/css/theme/night.css" />
    
  </head>
  <body>
    <div class="reveal">
			<div class="slides">
				<section data-markdown>
          <textarea data-template>
            ## How to track
            ## Ran Bar-Zik
            #### Developer @ Verizon media (former Oath, Yahoo, AOL)
              - Twitter: @barzik
              - Telegram: interil
              - web: internet-israel.com
              - Github: barzik
          </textarea>
				</section>
				<section>
    			<section data-markdown>
            <textarea data-template>
              # Legal information
              ## Remember, remember the GDPR
            </textarea>
    			</section>
    			<section data-markdown>
            <textarea data-template>
              # Why do we learn it?
              ## We are evil
              ## We want to protect ourselves and others
              ## We want cheap prices
            </textarea>
    			</section>
        </section>
        
				<section data-markdown>
          <textarea data-template>
            ## Thank you!
            ### I was Ran Bar-Zik from Verizon :)
            ### The presentaion is on Github: barzik.
            ### Talk to me: @barzik or LinkedIn.
            #### internet-israel.com
            ###### Hosted on Cloud9\Amazon and used reveal.js 
          </textarea>
    		</section>		
			</div>
		</div>
  </body>
  <script src="/reveal/js/reveal.js"></script>
  <script src="/reveal/plugin/markdown/marked.js"></script>
  <script src="/reveal/plugin/markdown/markdown.js"></script>
  
  <script>
			Reveal.initialize();
	</script>
</html>

