<!DOCTYPE html>
<html>
  <head>
    <title>CSP</title>

  </head>
  <body>
    <h1>CSP hash Demo</h1>
    <p id="content"></p>
    <script integrity="sha256-snowX2XssXwQ2E7rw+6aAuzqMN9k2IZrOgWjd8ZQGro=" src="/javascript/good.js"></script>
  </body>
</html>
