<!DOCTYPE html>
<html>
  <head>
    <title>Click Jacked</title>
  </head>
  <body>
  <h1>My bank account</h1>
  <input type="button" onclick="alert('Money transferred!!!')" value="Transfer me money!">
  </body>
</html>
