<!DOCTYPE html>
<html>
  <head>
    <title>CSRF</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CSRF Attack example - imagine that this is a mail</h1>
    <a href="examples/show-all-params?username=MosheCohen&sum=2000&name=6382020"><img src="/images/clickbait.jpg" /></a>
  </body>
</html>
