<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lectures</h1>
      <p><a href="/presentation-outbrain-2019">Web security Outbrain 2019</a></p>
      <p><a href="/presentation-reversim-2018">Web security Reversim 2018</a></p>
      <p><a href="/presentation-geektime-code-2018">Client side security for Geektime Code 2018</a></p>
      <p><a href="/presentation-meetup-js-il-2018-07">Client side security for JS Israel meetup July 2018</a></p>
      <p><a href="/presentation-school-6th-grader-hebrew">School presentation Nov 2018 (Hebrew)</a></p>
      <p><a href="/presentation-wix-south-2018">Presentation for Wix South 2018</a></p>
      
    <h2>List of examples</h2>
    <ul>
      <li>XSS Reflective <a href="https://xss-game.appspot.com/level1">Example #1</a></li>
      <li>XSS By HTML element without script <a href="https://xss-game.appspot.com/level2">Example #2</a></li>
      <li>DOM based XSS <a href='/examples/xss?name=";alert(1);"'>Example #3</a></li>
      <li>DOM based XSS <a href="/examples/xss?videosrc=https://www.w3schools.com/tags/movie.ogg">Real life example</a>
      - and the <a href="/examples/xss/?videosrc=%22%20onerror=%22alert(1)%22">Attack</a></li>
      <li><a href="/validate">Demo of validation and sanitization</a></li>
      <li>Brute force <a href="/examples/bruteforce">Example #1 - Simple</a></li>
      <li>Brute force Prevention <a href="/examples/bruteforce-protected">Example #2 - Simple</a></li>
      <li>CSRF Prevention <a href="/examples/csrf-defended">Example #1 - Simple</a></li>
      <li>SSJS injection <a href="/shellinjection/ssjs">Example #1 - Simple app</a> and the <a href="/shellinjection/ssjs-attack">attack</a></li>
      <li>Command injection <a href="/shellinjection/command-injection">Example #1 - Simple app</a> and the <a href="/shellinjection/command-injection-attack">attack</a></li>
      <li><a href="/examples/cookies">Cookies 101</a></li>
      <li><a href="/examples/csp">CSP basic example</a></li>
      <li><a href="/examples/csp1">CSP block one resource</a></li>
      <li><a href="/examples/csp2">CSP block one attribute</a></li>
      
    
    </ul>
  </body>

</html>

