<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lecture</h1>
    <h2>CSRF</h2>
    <p><a href="/examples/csrf">Page to attack</a> - <a href="/examples/csrf-attack">Attack example</a></p>
  </body>
</html>
