<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lectures</h1>
      <p><a href="/presentation-reversim-2018">Web security Reversim 2018</a></p>
      <p><a href="/presentation-geektime-code-2018">Client side security for Geektime Code 2018</a></p>
      <p><a href="/presentation-meetup-js-il-2018-07">Client side security for JS Israel meetup July 2018</a></p>
      <p><a href="/presentation-school-6th-grader-hebrew">School presentation Nov 2018 (Hebrew)</a></p>
  </body>

</html>

