<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lectures</h1>
      <p><a href="/presentation-geektime-code-2018">Client side security for Geektime Code 2018</a></p>
  </body>
</html>

