<!DOCTYPE html>
<html>
  <head>
    <title>XSS Reflected Reacr</title>
  <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  </head>
  <body>
    <div id="content"></div>

<script type="text/babel">


class UserProfilePage extends React.Component {
  
  createMarkup() {
    const user_supplied = 'fff" onerror="alert(1)"';
    return {__html:`<img src="${user_supplied}" />`};
  }

  render() {
    return (
      <div dangerouslySetInnerHTML={this.createMarkup()} />
    )
  }
}
    
  const target = document.getElementById('content');
  ReactDOM.render(
  <UserProfilePage />,
  target
  );
</script>
  </body>
</html>
