<!DOCTYPE html>
<html>
  <head>
    <title>SQL injection example</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LOGIN page</h1>
  <div>
    <form method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" />
      <label for="password">Password</label>
      <input type="text" id="password" name="password" />
      <button type="submit">Submit</button>
    </form>
    <% if (allPOSTParams['username']) { %>
      <strong>Result:</strong><%= results %>
    <% } %>
    <% if (typeof query != 'undefined') { %>
      <small><a href="#" onclick="showMe()">Click to see some hint</a></small>
      <div id="hint" style="display: none">
        <p>This is the query that runs in the DB:</p>
        <p>
        <strong>Query:</strong><%= query %>
        </p>
      </div>
    <% } %>
    
  </div>
  <script>
    function showMe() {
      const hint = document.getElementById('hint');
      if (hint.style.display === 'none') {
        hint.style.display = 'block';
      } else {
        hint.style.display = 'none';
      }
    }
  </script>

  </body>
</html>
