<!DOCTYPE html>
<html>
  <head>
    <title>SSJS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Command injection</h1>
    <form method="POST" action="/shellinjection/command-injection-api">
    Download zip of the following file
    <input name="file_path" id="file_path" type="text" value="demofile.txt" />
    <button type="submit">Download</button>
    </form>
    
  </body>
</html>
