<!DOCTYPE html>
<html>
  <head>
    <title>SSJS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SSJS</h1>
    <form method="POST" action="/shellinjection/ssjs-api">
    What your age will be in the year 2050? Please enter your birth year?
    <select id="year" name="year">
        <% for ( let i = 1950; i <= 2000; i++ ) { %><option value="<%=i %>"><%=i %></option><% } %>
    </select>
    <button type="submit">Submit</button>
    </form>
    
  </body>
</html>
