<!DOCTYPE html>
<html>
  <head>
    <title>Etag</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Etag</h1>
    <p>Etag demo</p>
    <%- visit %>
    <img src="/images/hacking/hacking-attacks.gif" />
  </body>
</html>
